.contactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contactItem {
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.contactItem:hover {
  background-color: rgb(238, 238, 238);
  transform: scale(1.02);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
}
